footer {
  background-color: var(--support-color);
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}

footer a {
  color: white;
  text-decoration: underline;
}

footer a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.copyright {
  margin: 0;
  font-size: 14px;
}
